In [1]:
import pandas as pd

data = pd.read_csv('data.csv')  

print(data.head())

            date      price  bedrooms  bathrooms  sqft_living  sqft_lot  \
0  5/2/2014 0:00   313000.0       3.0       1.50       1340.0    7912.0
1  5/2/2014 0:00  2384000.0       5.0       2.50       3650.0    9050.0
2  5/2/2014 0:00   342000.0       3.0       2.00       1930.0   11947.0
3  5/2/2014 0:00   420000.0       3.0       2.25       2000.0    8030.0
4  5/2/2014 0:00   550000.0       4.0       2.50       1940.0   10500.0

   floors  waterfront  view  condition  sqft_above  sqft_basement  yr_built  \
0     1.5         0.0   0.0          3      1340.0            0.0    1955.0
1     2.0         0.0   4.0          5      3370.0          280.0    1921.0
2     1.0         0.0   0.0          4      1930.0            0.0    1966.0
3     1.0         0.0   0.0          4      1000.0         1000.0    1963.0
4     1.0         0.0   0.0          4      1140.0          800.0    1976.0

   yr_renovated                    street       city  statezip country
0          2005      18810 Densmore Ave N  Shoreline  WA 98133     USA
1             0           709 W Blaine St    Seattle  WA 98119     USA
2             0  26206-26214 143rd Ave SE       Kent  WA 98042     USA
3             0           857 170th Pl NE   Bellevue  WA 98008     USA
4          1992         9105 170th Ave NE    Redmond  WA 98052     USA

In [2]:
print(data.info())

print("Shape:", data.shape)

print("Missing Values:\n", data.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4597 non-null   float64
 2   bedrooms       4595 non-null   float64
 3   bathrooms      4598 non-null   float64
 4   sqft_living    4598 non-null   float64
 5   sqft_lot       4598 non-null   float64
 6   floors         4598 non-null   float64
 7   waterfront     4595 non-null   float64
 8   view           4598 non-null   float64
 9   condition      4600 non-null   int64
 10  sqft_above     4597 non-null   float64
 11  sqft_basement  4597 non-null   float64
 12  yr_built       4594 non-null   float64
 13  yr_renovated   4600 non-null   int64
 14  street         4597 non-null   object
 15  city           4596 non-null   object
 16  statezip       4597 non-null   object
 17  country        4594 non-null   object
dtypes: float64(11), int64(2), object(5)
memory usage: 647.0+ KB
None
Shape: (4600, 18)
Missing Values:
 date             0
price            3
bedrooms         5
bathrooms        2
sqft_living      2
sqft_lot         2
floors           2
waterfront       5
view             2
condition        0
sqft_above       3
sqft_basement    3
yr_built         6
yr_renovated     0
street           3
city             4
statezip         3
country          6
dtype: int64

In [3]:
print(data.describe())

              price     bedrooms    bathrooms   sqft_living      sqft_lot  \
count  4.597000e+03  4595.000000  4598.000000   4598.000000  4.598000e+03
mean   5.521190e+05     3.401088     2.160668   2139.498913  1.485607e+04
std    5.639834e+05     0.908983     0.783920    963.387024  3.589177e+04
min    0.000000e+00     0.000000     0.000000    370.000000  6.380000e+02
25%    3.238333e+05     3.000000     1.750000   1460.000000  5.001000e+03
50%    4.610000e+05     3.000000     2.250000   1980.000000  7.683000e+03
75%    6.550000e+05     4.000000     2.500000   2620.000000  1.100375e+04
max    2.659000e+07     9.000000     8.000000  13540.000000  1.074218e+06

            floors   waterfront         view    condition   sqft_above  \
count  4598.000000  4595.000000  4598.000000  4600.000000  4597.000000
mean      1.511853     0.007182     0.240757     3.451739  1827.509463
std       0.537905     0.084449     0.778558     0.677230   862.138540
min       1.000000     0.000000     0.000000     1.000000   370.000000
25%       1.000000     0.000000     0.000000     3.000000  1190.000000
50%       1.500000     0.000000     0.000000     3.000000  1590.000000
75%       2.000000     0.000000     0.000000     4.000000  2300.000000
max       3.500000     1.000000     4.000000     5.000000  9410.000000

       sqft_basement     yr_built  yr_renovated
count    4597.000000  4594.000000   4600.000000
mean      312.122036  1970.799086    808.608261
std       464.228562    29.740666    979.414536
min         0.000000  1900.000000      0.000000
25%         0.000000  1951.000000      0.000000
50%         0.000000  1976.000000      0.000000
75%       610.000000  1997.000000   1999.000000
max      4820.000000  2014.000000   2014.000000

In [4]:
print("Columns:", data.columns)

Columns: Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'street', 'city',
       'statezip', 'country'],
      dtype='object')

In [5]:
duplicates = data.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 0

In [7]:
print(data['price'].value_counts())

price
0.0000         49
300000.0000    42
400000.0000    31
440000.0000    29
600000.0000    29
               ..
278900.0000     1
171758.3333     1
325187.5000     1
190368.7500     1
292600.0000     1
Name: count, Length: 1738, dtype: int64